.DS_Store
dist/
gradle/
.gradle/
build/
out/
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

node_modules/
*.iml

*.pdf
*.log

*.txt
*.orig


# UNIX backup files
*~
DEADJOE

# Idea run configuration
.run/
volumes/
build_docker.sh
logs/
